[Unit]
Description=Just Ralph It
After=network.target
Requires=jri.socket

[Service]
Type=simple
User=nico
WorkingDirectory=/home/nico/jri
ExecStart=/usr/bin/python3 deploy/sd_boot.py
Restart=always
RestartSec=2
TimeoutStopSec=5
Environment=PATH=/home/nico/.local/bin:/home/linuxbrew/.linuxbrew/bin:/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
